*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#bbd9f0;
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculator{
    background-color: #ecf0f3 ;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(230, 225, 225, 0.2);
    display: grid;
    grid-template-columns: repeat(4,68px);               

}
input{
    grid-column: span 4;
    height: 60px;
    width: 260px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0, 0, 0, .2);
    border: none;
    border-radius: 20px;
    color: rgb(70, 70, 70);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px;
}

button{
    height: 48px;
    width: 48px;
    border: none;
    box-shadow: -5px -5px 12px #fcfcfc,
                 5px 5px 12px  rgba(173, 159, 159, 0.2);
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;

}
button:hover{
    background-color:rgb(199, 199, 199);
    cursor: pointer;
}

.equal{
    width: 100px;
    border-radius: 40%;
    box-shadow: -5px -5px 12px #ffffff,
                 5px 5px 12px  rgba(0, 0, 0, .2);;
}